
/* Resouerce fo rhow ot import fonts https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html*/
@import url('https://fonts.googleapis.com/css?family=Bai Jamjuree');
@import url('https://fonts.googleapis.com/css?family=Balthazar');

body {
    background-color: #f7e7d2;
    margin-top : 0;
    margin-left : 0;
    margin-right : 0;
}


.design{
    background-image: url("design.png");
    min-width:100%;
    min-height:100%;
}

.segment-blue{
    justify-content: center;
    background-color: #a2dbd0;
    border-radius : 50px;
    padding: 35px;
    margin-left : 35px;
    margin-right : 35px;
    margin-top : 35px;

}

.segment-pink {
    background-color: #eeadc4;
    justify-content: center;
    border-radius : 50px;
    padding: 35px;
    margin-left : 35px;
    margin-right : 35px;
    margin-top : 35px;
}

.segment-yellow {
    background-color: #fee7a3;
    justify-content: center;
    border-radius : 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left : 35px;
    margin-right : 35px;
    margin-top : 35px;
}

.segment-purple {
    background-color: #bda5d0;
    justify-content: center;
    border-radius : 50px;
    padding: 35px;
    margin-left : 35px;
    margin-right : 35px;
    margin-top : 35px;
}

.segment-title{
    font-family: 'Balthazar';
    color : black;
    text-align: center;
    font-size: 45px;
}

.segment-subtitle{
    font-family: 'Balthazar';
    color : black;
    text-align: center;
    font-size: 35px;
}

.page-title{
    font-family: 'Balthazar';
    padding: 10%;
    color : black;
    text-align: center;
    width : 100%;
    font-size: 85px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-subtitle{
    font-family: 'Balthazar';
    color : black;
    text-align: center;
    width : 100%;
    font-size: 45px;
    position: absolute;

}
.body-text{
    color : black;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-persona{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
